//
// Fluid Typography mixins module
//
// This module defines the fluid type mixins 
// 
// TODO: add comments and examples
//

// 
// Fluidly set font-size & line-height values according to viewport range
// 
// Variables:
//    $vw-min = viewport width minimum
//    $vw-max = viewport width maximum
//    $fs-min = font size minimum
//    $fs-max = font size maximum
//    $lh-min = line height minimum
//    $lh-max = line height maximum
@mixin fluid-type-vp($vw-min, $vw-max, $fs-min, $fs-max, $lh-min, $lh-max) {

  // TODO: Refactor unit value checks to provide better enforcement of provided argument values
  //       and more clear error messaging when incorrectly implemented

  // Check the unit values of the arguments
  $u1: unit($vw-min);
  $u2: unit($vw-max);
  $u3: unit($fs-min);
  $u4: unit($fs-max);
  $u5: unit($lh-min);
  $u6: unit($lh-max);

  // Check that the argument unit values match (px, em, etc)
  @if ($u1 == $u2 and $u1 == $u3 and $u1 == $u4 and $u5 == $u6) {
    & {
      // Set the font size and line height values to their minimum values as the default
      font-size: $fs-min;
      line-height: $lh-min;

      // Above the supplied minimim viewport width size calculate the font size and line height based ont he viewport width.
      @media screen and (min-width: $vw-min) {
        font-size: calc( #{$fs-min} + #{strip-unit($fs-max - $fs-min)} * ((100vw - #{$vw-min}) / #{strip-unit($vw-max - $vw-min)}) );
        line-height: calc( (#{$lh-min} * 100%) + #{strip-unit($lh-max - $lh-min)} * ((100vw - #{$vw-min}) / #{strip-unit($vw-max - $vw-min)}) );
      }
      // Above the supplied maximum viewport width size set the font size and line height values to the max values
      @media screen and (min-width: $vw-max) {
        font-size: $fs-max;
        line-height: $lh-max;
      }
    }
  }
}