// 
// Verne Configuration module
// 
// Sets defaults values for use by the other modules

// 
// Viewport width
// 
// Maximum
$verne-vw-max: 1200px !default;
// Minimum
$verne-vw-min: 375px !default;

// 
// Root font size
// 
// Maximum
$verne-font-size-root-max: 18px !default;
// Minimum
$verne-font-size-root-min: 14px !default;

// 
// Modular font scale
// 
// Set your own numerical value to define the modular scale
// or use one of the common modular font scale alternatives:
//
//   Minor Second:      1.067
//   Major Second:      1.125
//   Minor Third:       1.200
//   Major Third:       1.250
//   Perfect Fourth:    1.333
//   Augmented Fourth:  1.414
//   Perfect Fifth:     1.500
//   Golden Ratio:      1.618

// Font scale maximum
$verne-font-scale-max: 1.25 !default; // Augmented Fourth

// Font scale minimum
$verne-font-scale-min: 1.2 !default; // Minor Third

// 
// Line Heights
// 
// Line heights are more difficult to configure for web typography because they don't easily fall into a 
// programmable rhythym with some mathematical underpinning. I worked with my partner designers to configure
// this baseline set of default for Verne's out-of-the-box typography system and this includes the following 
// line height tuning defaults. It's evident that like font kerning, line-height settings don't tend to 
// follow a mathematical pattern, but just what is pleasing to the eye.
// 
// Additionally, line height visual feeling is relative to the typeface being used, so it is recommended to
// tune the line height settings when changing typeface from Verne's default Helvetica Neue sans-serif typeface

// Root line height
// Maximum
$verne-line-height-root-max: 1.333 !default;
// Minimum
$verne-line-height-root-min: 1.333 !default;

// Paragraph 1 (default)
// Maximum
$verne-line-height-p1-max: 1.333 !default;
// Minimum
$verne-line-height-p1-min: 1.333 !default;

// Paragraph 2
// Maximum
$verne-line-height-p2-max: 1.375 !default;
// Minimum
$verne-line-height-p2-min: 1.375 !default;

// Paragraph 3
// Maximum
$verne-line-height-p3-max: 1.429 !default;
// Minimum
$verne-line-height-p3-min: 1.429 !default;

// Lead / Highlighted
// Maximum
$verne-line-height-lead-max: 1.364 !default;
// Minimum
$verne-line-height-lead-min: 1.364 !default;

// Small / Reduced
// Maximum
$verne-line-height-small-max: 1.5 !default;
// Minimum
$verne-line-height-small-min: 1.5 !default;

// H1 (Header 1)
// Maximum
$verne-line-height-h1-max: 1.067 !default;
// Minimum
$verne-line-height-h1-min: 1.067 !default;

// H2 (Header 2)
// Maximum
$verne-line-height-h2-max: 1.042 !default;
// Minimum
$verne-line-height-h2-min: 1.042 !default;

// H3 (Header 3)
// Maximum
$verne-line-height-h3-max: 1.111 !default;
// Minimum
$verne-line-height-h3-min: 1.111 !default;

// H4 (Header 4)
// Maximum
$verne-line-height-h4-max: 1.071 !default;
// Minimum
$verne-line-height-h4-min: 1.071 !default;

// H5 (Header 5)
// Maximum
$verne-line-height-h5-max: 1.167 !default;
// Minimum
$verne-line-height-h5-min: 1.167 !default;

// H6 (Header 6)
// Maximum
$verne-line-height-h6-max: 1.333 !default;
// Minimum
$verne-line-height-h6-min: 1.333 !default;


